@import "../../../styles/main.module.scss";
.main{
    font-family: "Gilroy", sans-serif;
    .main{
        text-align: center;
        .texts{
            display: flex;
            justify-content: space-evenly;
            p{
                font-size: 20px;
                font-weight: 500;
                color: rgba(162, 162, 162, 1);
                padding: 0 20% 20px 20%;
                cursor: pointer;
            }
            .isActive{
                color: #fa4500;
                border-bottom: 1px solid ;
            }
        }
    }
}