.hero {
    .hero {
      margin: 50px 0;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      color: rgba(127, 127, 127, 1);
      line-height: 27px;
      background-color: #fff;
      border-radius: 10px;
      padding-top: 20px;
      .detail {
        padding: 10px 0;
        max-width: 764px;
        margin: 0 auto;
        .p{
          margin-bottom: 20px;
        }
        .event_text {
          font-weight: 500;
          font-size: 18px;
          color: rgba(250, 69, 0, 1);
        }
      }
    }
  }
  