.galery{
    .galery{
        margin: 2rem 0;
        .cards{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            .card{

                img{
                    width: 18rem;
                    height: 18rem;
                }
            }
        }
    }
}