.create_group {
  text-align: center;
  max-width: 750px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0;
  h1 {
    font-weight: 600;
    font-size: 36px;
    color: rgba(17, 17, 17, 1);
  }
  .form {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      .selected{
        position: relative;
        max-width: 350px;
        // height: 16px;
        // border: 1px solid;
        select{
          // z-index: 2;
          // position: absolute;
          // left: 0;
        }
        .down_arrow{
          position: absolute;
          right: 3%;
          top: 30%;
          // z-index: 1;
          // border: 1px solid;
          cursor: pointer;
        }
      }
      select {
        margin-top: 0px;
      }

      .img {
        background-color: #eee;
        border-radius: 10px;
        width: 350px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // cursor: pointer;
        margin-bottom: 10px;
        svg {
          width: 50px;
          height: 50px;
          fill: #aaa;
          // border: 1px solid green;
        }

        .file_input {
          position: absolute;
          top: 0;
          left: 0;
          width: 319px;
          height: 108px;
          margin-top: 0px;
          border-radius: 10px;
          opacity: 0;
          cursor: pointer;
        }
      }
      .inp {
        background-color: #eeeeee;
        border-radius: 10px;
        max-width: 350px;
        height: 16px;
        margin: 5px;
      }
      .link {
        background-color: #eeeeee;
        border-radius: 10px;
        max-width: 350px;
        height: 16px;
        margin: 0px;
      }
      .inpp {
        background-color: #eeeeee;
        border-radius: 10px;
        width: 340px;
        height: 88px;
        border: none;
        padding: 10px 0 0 10px;
        resize: none;
        font-family: "Gilroy", sans-serif;
      }
      button {
        width: 350px;
        padding: 12px 0;
        margin-top: 10px;
        border: 1px solid #ff5722;
        color: #ff5722;
        background-color: transparent;
      }
      button:hover {
        background-color: #ff5722;
        color: #fff;
      }
    }
  }
}
