.create_group {
  text-align: center;
  height: 100vh;
  max-width: 750px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0;

  h1 {
    font-weight: 600;
    font-size: 36px;
    color: rgba(17, 17, 17, 1);
  }

  .form {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      input{
        color:#000 !important;
      }
      input::placeholder{
        color:#000;
      }
      textarea::placeholder{
        color:#000;
      }
      .selected {
        position: relative;
        max-width: 350px;

        .down_arrow {
          position: absolute;
          right: 3%;
          top: 30%;
          cursor: pointer;
          color:#000;
        }
      }

      select {
        margin-top: 0px;
        background-color: #eeeeee;

        option:checked,
        option:hover {
          background-color: #eee;

          &:hover {
            background-color: #eee !important;
          }
        }
      }
      .country-dropdown{
        position: relative;
        .head{
          background-color: #eee;
          border-radius: .8rem;
          text-align: left;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
        }
        .body{
          height: 15rem;
          overflow-y: auto;
          background-color:#eee;
          border-radius: 1rem;
          margin: .3rem 0;
          text-align: left;
          position: absolute;
          width: 100%;
          top: 2.8rem;
          z-index: 1000;
          div{
            padding-left: .7rem;
            cursor: pointer;
            &:hover{
              background-color:#e1e0e0;
            }
          }
        }
      }
      .category-dropdown{
        position: relative;
        .category-head{
          background-color: #eee;
          border-radius: .8rem;
          text-align: left;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
        }
        .category-body{
          height: 15rem;
          overflow-y: auto;
          background-color:#eee;
          border-radius: 1rem;
          margin: .3rem 0;
          text-align: left;
          position: absolute;
          width: 100%;
          top: 2.8rem;
          z-index: 1000;
          div{
            padding-left: .7rem;
            cursor: pointer;
            &:hover{
              background-color:#e1e0e0;
            }
          }
        }
      }

      .img {
        background-color: #eee;
        border-radius: 10px;
        width: 350px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // cursor: pointer;
        margin-bottom: 10px;

        svg {
          width: 50px;
          height: 50px;
          fill: #aaa;
          // border: 1px solid green;
        }

        .file_input {
          position: absolute;
          top: 0;
          left: 0;
          width: 319px;
          // height: 108px;
          margin-top: 0px;
          border-radius: 10px;
          opacity: 0;
          cursor: pointer;
        }
      }

      .link {
        background-color: #eeeeee;
        border-radius: 10px;
        // max-width: 350px;
        // height: 16px;
        margin: 0px;
      }

      .inpp {
        background-color: #eeeeee;
        border-radius: 10px;
        width: 340px;
        height: 88px;
        border: none;
        // padding: 10px 0 0 10px;
        resize: none;
        font-family: "Gilroy", sans-serif;
      }

      button {
        width: 350px;
        padding: 12px 0;
        margin-top: 10px;
        border: 1px solid #ff5722;
        color: #ff5722;
        background-color: transparent;
      }

      button:hover {
        background-color: #ff5722;
        color: #fff;
      }
    }
  }
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox üçün */
input[type="number"] {
  -moz-appearance: textfield;
}

// 