.create_group {
  text-align: center;
  max-width: 750px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0;
  h1 {
    font-weight: 600;
    font-size: 36px;
    color: rgba(17, 17, 17, 1);
  }
  .form{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        .img {
          background-color: #eee;
          border-radius: 10px;
          width: 350px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          // cursor: pointer;
  
          svg {
            width: 50px;
            height: 50px;
            fill: #aaa;
          }
  
          .file_input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
       .inp{
        background-color: #eeeeee;
        border-radius: 10px;
        max-width: 350px;
        height: 16px; 
       }
       .inpp{
        background-color: #eeeeee;
        border-radius: 10px;
        width: 340px;
        height: 88px; 
        border: none;
        padding: 10px 0 0 10px;
        resize: none; 
       }
    }
  }
}
