.centertext {
  background-color: rgba(250, 69, 0, 0.9);
  .centertext {
    width: 90%;
    margin: 0 auto;
    padding: 45px 0;
    background-color:inherit;
    h1 {
      font-weight: 700;
      font-size: 24px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
