.policy .policy-con{
    position: absolute;   
    top: 60%;
    left: 50%; 
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 2rem;
    width: 28rem;
    z-index: 10000;
    border-radius:  .4rem;
}
.policy .policy-con h4{
    color:#FA4500;
}
.policy .policy-con p{
    height: 19.7rem;
    overflow: auto;
}
.policy .policy-con .date{
    margin: .7rem 0 !important;
    display: block;
}
.policy .policy-con .send-message-span{
    color:#FA4500;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.policy .policy-con .btns button{
    background-color:#FA4500;
    color:#fff;
}
.policy .policy-con .btns{
    display: flex;
    justify-content: end;
    padding: 2rem;
    padding-right: 0;
    gap: .5rem;
} 
.policy .policy-con .btns .first{
    background-color:#fff;
    border: 1px solid #FA4500;
    color:#FA4500;
}