.hero {
  .hero {
    margin: 50px 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: rgba(127, 127, 127, 1);
    line-height: 27px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0;
    .detail {
      padding: 10px 0;
      max-width: 764px;
      margin: 0 auto;
      .p {
        margin-bottom: 40px;
      }
      .group_text {
        font-weight: 500;
        font-size: 18px;
        color: rgba(250, 69, 0, 1);
      }
      button {
        border: 1px solid #fa4500;
        color: #fa4500;
        padding: 6px;
        border-radius: 10px;
        background-color: inherit;
        scale: 1.2;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 14px !important;
      }
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}
