.join {
  // width: 95%;
  // margin: 0 auto;
  .join {
    text-align: center;
    padding: 50px 0;
    h1 {
      font-weight: 600;
      font-size: 32px;
      color: rgba(250, 69, 0, 1);
    }
  }
}
