@font-face {
    src: url("../fonts/Gilroy-Black.otf");
    font-weight: 900;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-ExtraBold.otf");
    font-weight: 800;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-Bold.otf");
    font-weight: 700;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-SemiBold.otf");
    font-weight: 600;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-Medium.otf");
    font-weight: 500;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-Regular.otf");
    font-weight: 400;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-Light.otf");
    font-weight: 300;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-UltraLight.otf");
    font-weight: 200;
    font-family: Gilroy;
}

@font-face {
    src: url("../fonts/Gilroy-Thin.otf");
    font-weight: 100;
    font-family: Gilroy;
}

body,* {
    font-family: Gilroy, sans-serif;
}

body,html{
    overflow-x: hidden !important;
}
body{
overflow: hidden !important;
}