.container {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: white;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  margin-bottom: -8px;
  border-left: 0;
  border-right: 0;
  // border-radius: 0 10px 10px 0;
  // border: 1px solid;
padding: 20px ;
height: 70px;
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      background-position: center;
    }

    .content {
      .name {
        font-size: 20px;
        font-weight: 500;
        line-height: 24.26px;
        text-align: left;
        // color: rgba(250, 69, 0, 1);
        height: 12px;
      }
      .location {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.41px;
        text-align: left;
        color: rgba(162, 162, 162, 1);
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
.icon_box{
  cursor: pointer;
}
.container:last-child{
  border: none;
}
