.footer {
  background-color: #fff;
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid;
    .left {
      width: 40%;
      max-width: 300px;
      img {
        margin-left: -36px;
        cursor: pointer;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        color: rgba(17, 17, 17, 1);
      }
    }
    .right {
      width: 60%;
      display: flex;
      justify-content: space-between;
      ul {
        list-style: none;
        h4 {
          font-weight: 500;
          font-size: 20px;
        }
        li {
          font-weight: 300;
          font-size: 16px;
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
        }
        .links {
          padding-top: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .my-text-new{
    display: none;
    font-size: 1.2rem;
    margin: 2rem 0 !important; 
    margin-bottom: 0 !important;
  }
  .copy_right {
    padding: 5px 0 20px 0;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media (max-width:773px) {
  .footer{
    .footer{
      flex-direction: column;
      .left{
        width: 100%;
        img{
          width: 10rem;
        }
        p{
          display: none !important;
        }
      }
      .right{
        flex-direction: column;
        ul{
          .social{
            width: 4rem !important;
            display: flex ;
            align-items:center;
          }
        }
      }
    }
    .my-text-new{
      display: block;
    }
    .copy_right {
      font-size: 1rem;
      padding: .5rem .2rem !important;
    }
  }
}