@import "../../../styles/main.module.scss";

.card_group,
.card_event {
  width: 300px;
  height: 16rem !important;
  padding: 9px 9px 17px 9px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  .save_btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    background-color: #fff;
    right: 15px;
    top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .save_img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .save_btn:hover {
    background-color: #fff;
  }

  .groupImage {
    width: 100%;
    object-fit: cover;
    height: 122px;
    background-position: center;
  }

  .event_time {
    font-size: 12px;
    font-weight: 400;
    color: #a2a2a2;
    margin: 0;
    padding-top: 5px;
  }

  .group_title {
    color: #fa4500;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
  }

  .event_title {
    color: #fa4500;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: 6px;
  }

  .card_detail {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
      font-size: 13px;
      font-weight: 400;
      color: #a2a2a2;
      // padding-top: 4px;
    }
  }

  .card_footer {
    font-size: 16px;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  .daha_etrafli {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    border-radius: 0 0 10px 10px;
    background-color: inherit;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease, background 0.5s ease;
  }
}

.card_group {
  height: 263px;
}

.card_group:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_event {
  height: 279px;
}

.card_event:hover {
  button {
    opacity: 1;
    background: rgba(238, 238, 238, 1);
    display: block;
  }
}


@media (max-width:558px) {

  .card_group{
    height: 20rem !important;
    width: 100%;
    margin: 1rem auto;
  }
  .card_event {
    width: 90%;
    height: 20rem !important;
    margin: 1rem auto;
  }
}