@import "./styles/main.module.scss";
body {
  font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(245,245,245);
  /* max-width: 1600px; */
}

html, body{
overflow-x: hidden;
}

.container {
  max-width: 1400px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}
ul,p{
  margin: 0 !important ;
  padding: 0 !important;
}
li{
  list-style: none;
}

.dp-flex{
  display: flex;
  align-items: center;
}