.side_bar{
    width: 30%;
    min-height: 60vh;
    ul {
        list-style: none;
        li{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}