.mentors_container {
    max-width: 1200px;
    margin: 50px auto;
}

.mentor_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 16px 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.mentor_left {
    padding-right: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mentor_left .mentor_main {
    width: 248px;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 26px;
}

.mentor_left h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.76px;
    text-align: center;
    margin-bottom: 4px;
}

.mentor_left .flag_img {
    width: 30px;
    height: 20px;
    object-fit: contain;
}

.mentor_left p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.41px;
    text-align: center;
    color: rgba(127, 127, 127, 1);
}

.mentor_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;

}

.mentor_right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #000;
}
.mentor_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mentor_btn button{
    border-radius: 10px;
    padding: 8.5px 12px;
    border: 1px solid rgba(250, 69, 0, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(250, 69, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.41px;
    background-color: transparent;
    cursor: pointer;
}
.comment_box{
    margin-top: 50px;
}
.comment_box p{
    margin: 0;
}
.comment_box .comment_count{
    background-color: rgba(250, 69, 0, 0.1);
    border-radius: 10px;
    padding:  30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment_count .count_left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.comment_count .count_left ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    list-style: none;
    margin: 0!important;
    padding-left: 0!important;
}
.comment_list ul li .comment_top .star_list svg{
    height: 30px;
}
.comment_list ul li .comment_top .star_list svg path,
.comment_count .count_left ul li svg path{
    fill: rgba(162, 162, 162, 0.4);
}
.comment_list ul li .comment_top .star_list p.active svg path,
.comment_count .count_left ul li.active svg path{
    fill: rgba(255, 205, 5, 1);
}

.comment_count .count_left p{
    font-size: 22px;
    font-weight: 500;
    line-height: 27.9px;
    color: rgba(17, 17, 17, 1);

}
.comment_count .count_left span{
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 0.5);
}
.comment_count .count_right a{
    font-size: 20px;
    font-weight: 400;
    line-height: 25.36px;
    text-decoration: underline;
    color: rgba(250, 69, 0, 1);
    padding-right: 30px;
}
.comment_list{
    margin-bottom: 170px;
}
.comment_list h4{
    font-size: 26px;
    font-weight: 500;
    line-height: 31.54px;
    margin:  32px 0 10px;
}
.comment_list ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0!important;
    align-items: flex-start;
}
.comment_list ul li{
    padding: 20px 0;
    border-bottom: 0.5px solid rgba(162, 162, 162, 1);
    width: 100%;
    margin-bottom: 12px;
}
.comment_list ul li .comment_top{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.comment_list ul li .comment_top span{
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 0.5);
}
.comment_list ul li .comment_top p{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.83px;
    color: rgba(17, 17, 17, 0.5);
}
.comment_list ul li .comment_top .star_list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}
.comment_text span{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.83px;
    color: rgba(17, 17, 17, 0.5);
    margin-top: 4px;
}
.comment_text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: rgba(17, 17, 17, 0.5);
    margin-top: 12px;
}