.mentor-detail {
    padding: 2rem 0;
}
.mentor-detail .detail-head {
    background-color: #fff;
    padding: 2rem;
    border-radius:.7rem;
}
.mentor-detail .detail-head .left .img-block img{
    width: 100%;
    border-radius: .6rem;
    height: 14rem;
    object-fit: cover;
}

.mentor-detail .detail-head .right{
    position: relative;
    height: 100%;
}
.mentor-detail .detail-head .right p{
    height: 86.2%;
    overflow-x: auto;
}
.mentor-detail .detail-head .right .contact-btn{
    position: absolute;
    bottom: 0;
    right: 0;
}

.mentor-detail .detail-head .right .contact-btn a{
    text-decoration: none;
    color:#FA4500;
    border: 1px solid;
    padding: .3rem .7rem;
    border-radius: .6rem;
    display: flex;
    align-items: center;
    gap: .1rem;
    transition: .5s;
}
.mentor-detail .detail-head .right .contact-btn a:hover{
    background-color:#FA4500;
    color:#fff;
}
.mentor-detail .detail-head .right .contact-btn a .icon{
    font-size: 1.2rem;
}
.mentor-detail .detail-body {
    padding-top: 2rem;
}
.mentor-detail .detail-body .top{
    background-color: #FA45001A;
    padding: 1rem 1rem;
    border-radius:.6rem;
}

.mentor-detail .detail-body .top .top-con{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.mentor-detail .detail-body .top .top-con .left{
    display: flex;
    align-items:center;
    gap: 1.5rem;
}
.mentor-detail .detail-body .top .top-con .right>p{
    text-decoration: underline;
    color:#FA4500;
    cursor: pointer;
    user-select: none;
}
.mentor-detail .detail-body  .bottom .comment{
    border-bottom: 1px solid #11111180;
    padding: .7rem 0;
}
.mentor-detail .detail-body  .bottom .comment>div{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.mentor-detail .detail-body  .bottom .comment>p{
    margin-top: .6rem !important;
}
.cricle{
    width: .5rem;
    height: .5rem;
    background-color:#11111180;
    border-radius: 50%;
}
.big-icon{
    font-size: 2rem;
}
.big-star-img{
    width: 2rem;
}
.big-star-img.half{
    width: 2.75rem;
}
.comment-star-img{
    width: 1.4rem;
}
.comment-star-img.half{
    width: 2rem;
}



/* Commet Write Component */

.comment-write .black-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: .3;
    cursor: pointer;
}
.comment-write .app  .star-icons{
    font-size: 3rem !important;
}
.comment-write .box-con{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    padding: 2rem;
    border-radius:1rem;
    width: 60%;
    text-align: center;
    z-index: 10000;
}
.comment-write .form{
    position: relative;
}
.comment-write .form .close-btn{
    position: absolute;
    top: -1.3rem;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
}
.comment-write .box-con .textarea{
    width: 80%;
    resize: none;
    height: 10rem;
    outline: none;
    padding: .3rem ;
    font-size: 1.2rem;
}
.comment-write .box-con .submit-btn{
    background-color:transparent;
    color:#FA4500;
    border: 1px solid #FA4500;
    width: 80% !important;
}
.comment-write .box-con  form> p{
    font-size: 1.5rem;
    font-weight: 600;
}